/*-- scss:defaults --*/


// footer background color
$footer-bg: #fcc305; 

//primary color
$secondary: #fcc305;
$primary: #5d5d5c;

// inline code text color:
$code-color: rgb(167, 151, 2);

//$navbar-fg: #ffffff;